html, body {
    width:100%;
    min-width:1000px;
    height:auto;
}

.dashboard_div{
    width: 100%;
    height: 700px;
    margin:5px;
    box-sizing: border-box;
}

.logo_div{
    height: 200px;
    width: 100%;
    background-image: url('img/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(121, 121, 121);
    border:1px solid black;
}

.searchDivs{
    height: 100%;
    width: 40%;
    float:left;
}

.recordsDivs{
    height: 100%;
    width: 60%;
    float:left;
}

.searchCategory_tab{
    background-color: #cecece;
    height: 50%;
    border-right: 1px solid black; 
    overflow: hidden;
    border-left: 1px solid black; 
    font-size: 20px;
    overflow: auto;
}
.searchResults_tab{
    background-color: #cecece;
    height: 50%;
    font-size: 20px;
    border-top: 1px solid black;
    border-right: 1px solid black; 
    overflow: hidden;
    border-bottom: 1px solid black;
    border-left: 1px solid black;overflow: auto;
}


.succeded_tab{
    height: 100%;
    width: 30%;
    background-color: #acacae;
    font-size: 20px;
    overflow-y: auto;
    white-space: normal;
    word-wrap: break-word;
    float:left;
    border-bottom: 1px solid black;
}

.failed_tab{
    width: 30%;
    font-size: 20px;
    height: 100%;
    float: left;
    white-space: normal;
    word-wrap: break-word;
    overflow:auto;
    box-shadow:-1px 0px 0px 0px black;
    background-color: #acacae;
    border-bottom: 1px solid black;
}


input.brandSearchBar {
    margin: 0 auto;
    display: block;
    margin-top:10px;
    margin-right: 10px;
    float: right;
    width: 150px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 6px 4px 7px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    background: white url("img/search.png") left no-repeat;
    
}
  
input.brandSearchBar:focus {
    border-color: rgb(88, 88, 88);
    
}

input.recordsSearchBar {
    float: right;
    display: block;
    margin-right: 10px;
    margin-top:10px;
    width: 150px;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 6px 4px 7px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
    background: white url("img/search.png") left no-repeat;
    
}
  
input.recordsSearchBar:focus {
    border-color: rgb(88, 88, 88);
    
}

h1{
    margin-left: 20px;
    color:white;
    padding-bottom: 30px;
}


ul{
    list-style-type: disc;
}

ul li::before{
    color: black;
    font-weight: bold;
    display: list-item;
    width: 1em;
    margin-left: -1em;
}


button .AddToListButton{
    display: inline-block;

}

.AddToListButton,.removeFromListButton{
    text-decoration: none;
    color: #000000;
    text-align: center;
    margin-left: auto;
    margin-bottom: -10px;
    margin-right: 10px;
    float: left;
    font-size: 20px;
    height: 30px;
    width: 30px;
    font-weight: bold;
}


.singleMessageSucceded,.singleMessageFailed{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}


.singleMessageFailed{
    background-color: rgb(253, 237, 237);
}


.singleMessageSucceded{
    background-color: rgb(220, 248, 220)
}

::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: #888; 
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }